:root {
  --green: rgb(45, 80, 37);
  --light-green: rgb(78, 116, 56);
  --dark-green: rgb(5, 36, 13);
  --dark-green2: rgb(36, 65, 39);
  --lime-green: rgb(170, 250, 78);
  --lime-green2: rgb(224, 255, 166);
  --dark-lime-green: rgb(170, 201, 100);
  --white: rgb(255, 255, 255);
  --cream: rgb(255, 252, 223);
  --light-cream: rgb(245, 241, 226);
  --dark-cream: rgb(222, 224, 175);
}

[data-theme="light"] {
  --error-msg-color: var(--lime-green);
  --dark-bg-container-background: var(--light-green);
  --dark-bg-container-color: var(--white);
  --light-bg-container-background: var(--cream);
  --light-bg-container-color: var(--dark-green);
  --more-info-background: var(--dark-lime-green);
  --more-info-color: var(--dark-green);
  --more-info-hover-background: var(--dark-lime-green);
  --more-info-hover-color: var(--dark-green);
  --navbar-circ-color: var(--cream);
  --navbar-circ-hover-background: var(--lime-green);
  --navbar-circ-hover-color: var(--dark-green);
  --navbar-close-color: var(--lime-green);
  --navbar-close-hover-background: var(--dark-green);
  --navbar-close-hover-color: var(--dark-green);
  --close-popup-color: var(--dark-green);
  --close-popup-hover-background: var(--light-green);
  --close-popup-hover-color: var(--light-green);
  --form-button-background: var(--green);
  --form-button-color: var(--light-cream);
  --form-button-border: var(--green);
  --form-button-hover-background: var(--dark-lime-green);
  --form-button-hover-color: var(--dark-green);
  --navbar-background: var(--green);
  --navbar-item-border: var(--green);
  --navbar-item-hover-border: var(--green);
  --navlink-color: var(--cream);
  --popup-section-background: var(--light-cream);
  --footer-background: var(--green);
  --footer-color: var(--cream);
}
[data-theme="dark"] {
  --error-msg-color: var(--lime-green);
  --dark-bg-container-background: var(--dark-green);
  --dark-bg-container-color: var(--dark-cream);
  --light-bg-container-background: var(--dark-green2);
  --light-bg-container-color: var(--dark-lime-green);
  --more-info-background: var(--dark-lime-green);
  --more-info-color: var(--green);
  --more-info-hover-background: var(--green);
  --more-info-hover-color: var(--lime-green);
  --navbar-circ-color: var(--dark-green);
  --navbar-circ-hover-background: var(--lime-green);
  --navbar-circ-hover-color: var(--dark-green);
  --navbar-close-color: var(--lime-green);
  --navbar-close-hover-background: var(--dark-green);
  --navbar-close-hover-color: var(--dark-green);
  --close-popup-color: var(--dark-green);
  --close-popup-hover-background: var(--light-green);
  --close-popup-hover-color: var(--light-green);
  --form-button-background: var(--green);
  --form-button-color: var(--cream);
  --form-button-border: var(--green);
  --form-button-hover-background: var(--lime-green);
  --form-button-hover-color: var(--dark-green);
  --navbar-background: var(--dark-green2);
  --navbar-item-border: var(--dark-green2);
  --navbar-item-hover-border: var(--lime-green);
  --navlink-color: var(--lime-green);
  --popup-section-background: var(--green);
  --footer-background: var(--dark-green2);
  --footer-color: var(--lime-green);
}

a:link {
  color: var(--lime-green2);
}
a:visited {
  color: var(--lime-green2);
}

html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Dosis", sans-serif;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  padding: 0;
}

.heading-1 {
  margin-top: 5rem;
  margin-left: 3rem;
  width: 100%;
}

.error-msg {
  color: var(--error-msg-color);
}

.dark-background-container {
  background: var(--dark-bg-container-background);
  color: var(--dark-bg-container-color);
}

.light-backgournd-container {
  background: var(--light-bg-container-background);
  color: var(--light-bg-container-color);
}

.content-container {
  padding: 20px;
  max-width: 1024px;
  margin: auto;
  padding-top: 0.5rem;
}

.space-evenly-distributed-row-container {
  display: flex;
  justify-content: space-evenly;
}

.space-between-distributed-row-container {
  display: flex;
  justify-content: space-between;
}

.display-none {
  display: none;
}

.more-info-button {
  text-align: center;
  background: var(--more-info-background);
  color: var(--more-info-color);
  width: 100px;
  height: 30px;
  margin: 1rem auto;
  font-family: inherit;
  font-size: 1rem;
  display: block;
  padding: 10px;
  padding-top: 14px;
  border-radius: 80px;
}

.more-info-button:hover {
  background-color: var(--more-info-hover-background);
  color: var(--more-info-hover-color);
  cursor: pointer;
  transition: 0.25s;
}

.navbar-circular-icon-button {
  font-size: 1.5rem;
  color: var(--navbar-circ-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
}

.navbar-circular-icon-button:hover {
  background-color: var(--navbar-circ-hover-background);
  color: var(--navbar-circ-hover-color);
  cursor: pointer;
  transition: 0.25s;
}

.darkmode-btn {
  border: none;
  color: var(--lime-green);
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  flex-direction: column;
}
.darkmode-btn:hover {
  background-color: var(--lime-green);
  color: var(--dark-green);
}

.navbar-toggle-close-button {
  font-size: 1.5rem;
  color: var(--navbar-close-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  margin: auto;
  flex-direction: column;
}

.navbar-toggle-close-button:hover {
  background-color: var(--navbar-close-hover-background);
  color: var(--navbar-close-hover-color);
  cursor: pointer;
  transition: 0.25s;
}

.close-popup-button {
  color: var(--close-popup-color);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
}

.close-popup-button:hover {
  color: var(--close-popup-hover-color);
  background-color: var(--close-popup-hover-background);
  cursor: pointer;
}

.form-button {
  width: 180px;
  background-color: var(--form-button-background);
  color: var(--form-button-color);
  border: 4px solid var(--form-button-border);
  font-family: inherit;
  font-size: 1.3rem;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
}

.form-button:hover {
  background-color: var(--form-button-hover-background);
  color: var(--form-button-hover-color);
  cursor: pointer;
  transition: 0.25s;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 15px;
  background-color: var(--navbar-background);
  box-sizing: border-box;
}

.navbar-toggle-trigger {
  display: none;
}

.navbar-toggle-trigger:checked ~ .small-screen-navbar-element-container {
  display: block;
}
.small-screen-icons {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  flex-direction: row;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-list-item {
  border: 2px solid var(--navbar-item-border);
  display: block;
  padding: 10px;
  width: 170px;
  text-align: center;
}

.nav-list-item:hover {
  border: 2px solid var(--navbar-item-hover-border);
  border-radius: 20px;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: var(--navlink-color);
}

.small-screen-navbar {
  display: none;
}

.small-screen-navbar-element-container {
  display: none;
}

.my-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.landing-text-container {
  margin-left: 3rem;
  margin-right: 3rem;
  max-width: 575px;
}

.heading-1 {
  font-size: 5rem;
}

.section-below-navbar {
  padding-top: 150px;
  min-height: calc(100vh - 150px);
}

.card {
  width: 300px;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clear-margin-top {
  margin-top: 0;
}

.clear-margin-bottom {
  margin-bottom: 0;
}

.popup-section-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup-section {
  background-color: var(--popup-section-background);
  max-width: 846px;
  max-height: 70vh;
  overflow-y: scroll;
  margin: 150px auto;
  padding: 30px;
}

.characteristics-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-self: center;
  object-fit: cover;
}

.projects-text-margin-left {
  margin-left: 30px;
}

.projects-text-margin-right {
  margin-right: 30px;
}

.form {
  width: 700px;
  margin: auto;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.form-input-box {
  width: 300px;
  height: 40px;
  font-size: inherit;
  font-family: inherit;
}

.form-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form-element-container {
  margin-bottom: 15px;
  margin: 2rem;
}

.form-buttons-container {
  padding-bottom: 30px;
}

.form-textarea {
  display: block;
  width: 180%;
  height: 8rem;
}

.footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
  padding: 30px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .vertically-stacked-mid-screen-container {
    flex-direction: column;
  }

  html {
    scroll-padding-top: 320px;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .small-screen-navbar {
    display: block;
  }

  .large-screen-navbar {
    display: none;
  }

  .landing-text-container {
    max-width: unset;
  }

  .heading-1 {
    text-align: center;
    margin: auto;
  }

  .card {
    width: unset;
    border-radius: 3px;
    padding: 10px;
  }

  .popup-section {
    margin: 150px 30px;
  }
}

@media screen and (max-width: 767px) {
  .form-row {
    width: 100%;
  }

  .my-photo {
    display: flex;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .landing-text-container {
    display: flex;
    float: left;
    gap: 20px;
  }

  .heading-1 {
    font-size: 4rem;
    margin: auto;
  }

  .characteristics-image {
    display: none;
  }

  .characteristics-text-margin-left {
    margin-left: 0px;
  }

  .characteristics-text-margin-right {
    margin-right: 0px;
  }

  .form {
    width: unset;
  }

  .label-input-group {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .label-input-group {
    flex-direction: column;
  }
  .landing-text-container {
    display: flex;
    flex-wrap: wrap;
  }
  .my-photo {
    flex-basis: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .form-input-box {
    width: 100%;
  }

  .form-button {
    width: 180px;
  }
}
